In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv(r"../data/Historical Product Demand.csv")

In [3]:
data.head()

   Product_Code Warehouse Product_Category       Date Order_Demand
0  Product_0993    Whse_J     Category_028  2012/7/27         100
1  Product_0979    Whse_J     Category_028  2012/1/19         500
2  Product_0979    Whse_J     Category_028   2012/2/3         500
3  Product_0979    Whse_J     Category_028   2012/2/9         500
4  Product_0979    Whse_J     Category_028   2012/3/2         500

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 5 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Product_Code      1048575 non-null  object
 1   Warehouse         1048575 non-null  object
 2   Product_Category  1048575 non-null  object
 3   Date              1037336 non-null  object
 4   Order_Demand      1048575 non-null  object
dtypes: object(5)
memory usage: 40.0+ MB

In [5]:
null_date = data[data["Date"].isnull()]

In [6]:
null_date.head(10)

        Product_Code Warehouse Product_Category Date Order_Demand
45460   Product_1461    Whse_A     Category_019  NaN       10000
456373  Product_1636    Whse_A     Category_019  NaN         100
456374  Product_1461    Whse_A     Category_019  NaN         300
456375  Product_1464    Whse_A     Category_019  NaN         300
456376  Product_1388    Whse_A     Category_019  NaN         200
456377  Product_1464    Whse_A     Category_019  NaN         600
456378  Product_1402    Whse_A     Category_019  NaN         600
456379  Product_1461    Whse_A     Category_019  NaN         100
456380  Product_1539    Whse_A     Category_019  NaN         100
456381  Product_1388    Whse_A     Category_019  NaN         800

In [7]:
null_date["Order_Demand"]

45460     10000
456373      100
456374      300
456375      300
456376      200
           ...
995790     (900)
995791     (200)
995792     (300)
995793     (300)
995794     (200)
Name: Order_Demand, Length: 11239, dtype: object

In [8]:
null_date['Warehouse'].value_counts()

Whse_A    11239
Name: Warehouse, dtype: int64

In [9]:
null_date['Product_Category'].value_counts()

Category_019    10833
Category_028      290
Category_005       44
Category_026       32
Category_006       25
Category_031       12
Category_021        3
Name: Product_Category, dtype: int64

In [10]:
data['Product_Category'].value_counts()

Category_019    481099
Category_005    101671
Category_001     97787
Category_007     82402
Category_021     52011
Category_006     35577
Category_028     31302
Category_011     23208
Category_015     22954
Category_024     20885
Category_009     19738
Category_026     14803
Category_030     12997
Category_032      9296
Category_022      8657
Category_023      7899
Category_018      5239
Category_003      4189
Category_013      3743
Category_020      3490
Category_031      2280
Category_033      1849
Category_008      1560
Category_012      1147
Category_010       976
Category_029       671
Category_017       615
Category_004       329
Category_002        77
Category_016        37
Category_025        35
Category_014        26
Category_027        26
Name: Product_Category, dtype: int64

In [11]:
dates = pd.DataFrame(data.Date.drop_duplicates())

In [12]:
dates.head()

        Date
0  2012/7/27
1  2012/1/19
2   2012/2/3
3   2012/2/9
4   2012/3/2

In [13]:
dates['Date'] = pd.to_datetime(dates['Date'])

In [14]:
dates['Date'] = dates['Date'] + pd.DateOffset(years= 5)

In [15]:
dates['Date'].max()

Timestamp('2022-01-09 00:00:00')

In [16]:
dates['Date'].min()

Timestamp('2016-01-08 00:00:00')

In [17]:
date_diff = dates['Date'].max() - dates['Date'].min()

In [18]:
date_diff

Timedelta('2193 days 00:00:00')

In [19]:
dates.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1730 entries, 0 to 1038439
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1729 non-null   datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 27.0 KB

In [20]:
full_date = pd.date_range(dates['Date'].min(), dates['Date'].max())

In [21]:
full_date

DatetimeIndex(['2016-01-08', '2016-01-09', '2016-01-10', '2016-01-11',
               '2016-01-12', '2016-01-13', '2016-01-14', '2016-01-15',
               '2016-01-16', '2016-01-17',
               ...
               '2021-12-31', '2022-01-01', '2022-01-02', '2022-01-03',
               '2022-01-04', '2022-01-05', '2022-01-06', '2022-01-07',
               '2022-01-08', '2022-01-09'],
              dtype='datetime64[ns]', length=2194, freq='D')

In [22]:
cat19_null = null_date[null_date['Product_Category'] == 'Category_019']

In [23]:
cat19_data = data[data['Product_Category'] == 'Category_019']

In [24]:

data["Date"] = pd.to_datetime(data["Date"])

In [25]:
data.head()

   Product_Code Warehouse Product_Category       Date Order_Demand
0  Product_0993    Whse_J     Category_028 2012-07-27         100
1  Product_0979    Whse_J     Category_028 2012-01-19         500
2  Product_0979    Whse_J     Category_028 2012-02-03         500
3  Product_0979    Whse_J     Category_028 2012-02-09         500
4  Product_0979    Whse_J     Category_028 2012-03-02         500

In [26]:
data["Date"] = data["Date"] + pd.DateOffset(years=5)

In [27]:

data["Date"].min()

Timestamp('2016-01-08 00:00:00')

In [28]:
data["Date"].max()

Timestamp('2022-01-09 00:00:00')

In [29]:
df = data.groupby(["Date", "Warehouse", "Product_Category", "Product_Code"])["Order_Demand"].sum()

In [30]:
df.head(10)

Date        Warehouse  Product_Category  Product_Code
2016-01-08  Whse_A     Category_006      Product_0965             2
2016-05-31  Whse_A     Category_003      Product_1724           108
2016-06-24  Whse_S     Category_019      Product_1521    85000 7000
2016-09-02  Whse_C     Category_019      Product_1507          1250
2016-09-27  Whse_C     Category_001      Product_0608             5
                                         Product_1933            23
2016-09-30  Whse_C     Category_023      Product_0875          5450
2016-10-20  Whse_S     Category_007      Product_0412            (2)
                       Category_011      Product_0125            (2)
2016-10-31  Whse_C     Category_019      Product_0642             3
Name: Order_Demand, dtype: object

In [31]:
data["month_year"] = data["Date"].dt.to_period('M')

In [32]:
data.head()

   Product_Code Warehouse Product_Category       Date Order_Demand month_year
0  Product_0993    Whse_J     Category_028 2017-07-27         100     2017-07
1  Product_0979    Whse_J     Category_028 2017-01-19         500     2017-01
2  Product_0979    Whse_J     Category_028 2017-02-03         500     2017-02
3  Product_0979    Whse_J     Category_028 2017-02-09         500     2017-02
4  Product_0979    Whse_J     Category_028 2017-03-02         500     2017-03

In [33]:
data["month_year"].unique()

<PeriodArray>
['2017-07', '2017-01', '2017-02', '2017-03', '2017-04', '2017-06', '2017-08',
 '2017-09', '2017-10', '2017-11', '2017-12', '2017-05', '2016-12', '2018-01',
 '2016-11', '2016-06', '2016-09', '2016-01',     'NaT', '2016-05', '2016-10',
 '2018-02', '2018-10', '2018-03', '2018-04', '2018-05', '2018-06', '2018-07',
 '2018-08', '2018-09', '2018-11', '2018-12', '2019-04', '2019-01', '2019-11',
 '2019-02', '2019-09', '2019-10', '2019-12', '2019-03', '2019-05', '2019-06',
 '2019-07', '2019-08', '2020-01', '2020-02', '2020-03', '2020-04', '2020-05',
 '2020-06', '2020-07', '2020-08', '2020-10', '2020-11', '2020-12', '2020-09',
 '2021-01', '2021-02', '2021-04', '2021-05', '2021-06', '2021-07', '2021-09',
 '2021-10', '2021-11', '2021-12', '2021-03', '2021-08', '2022-01']
Length: 69, dtype: period[M]

In [34]:
data["month_year"].nunique()

68

In [35]:
data["Order_Demand"].unique()

array(['100 ', '500 ', '50000 ', ..., '(3750)', '(191)', '28250 '],
      dtype=object)

In [36]:
data["Order_Demand"] = data["Order_Demand"].replace( '[\$,)]','', regex=True )\
               .replace( '[(]','-',   regex=True ).astype(float)

In [37]:
data["year"] = data["Date"].dt.to_period('Y')

In [38]:
# fill out null dates for each category

# creates dictionary of category and date pairs
pairs = data[["Product_Category", "Date"]].dropna().to_dict()

In [39]:
fill_values = dict(zip(pairs['Product_Category'].values(), pairs['Date'].values()))

In [40]:
data.Date = data.apply(lambda d: fill_values[d.Product_Category] if d.Date is np.nan else d.Date, axis=1)

In [41]:
data.isnull().sum()

Product_Code            0
Warehouse               0
Product_Category        0
Date                11239
Order_Demand            0
month_year          11239
year                11239
dtype: int64

In [42]:
data = data.dropna()

In [43]:
returned_products = data[data["Order_Demand"] < 0]

In [44]:
returned_products.reset_index(drop = True)

,Product_Code,Warehouse,Product_Category,Date,Order_Demand,month_year,year
0,Product_2169,Whse_A,Category_024,2017-08-09,-1.0,2017-08,2017
1,Product_2132,Whse_A,Category_009,2017-11-01,-24.0,2017-11,2017
2,Product_2144,Whse_A,Category_009,2017-11-01,-24.0,2017-11,2017
3,Product_2118,Whse_A,Category_009,2017-03-07,-50.0,2017-03,2017
4,Product_2120,Whse_A,Category_009,2017-03-07,-100.0,2017-03,2017
...,...,...,...,...,...,...,...
5894,Product_1887,Whse_J,Category_007,2021-06-30,-100.0,2021-06,2021
5895,Product_0092,Whse_J,Category_019,2021-06-15,-400.0,2021-06,2021
5896,Product_0686,Whse_J,Category_011,2021-07-29,-230.0,2021-07,2021
5897,Product_0687,Whse_J,Category_011,2021-07-29,-230.0,2021-07,2021
5898,Product_0688,Whse_J,Category_011,2021-07-29,-270.0,2021-07,2021

In [45]:
returned_products = returned_products.rename(columns={'Order_Demand': 'Returns'})

In [46]:
returned_products["Returns"] = abs(returned_products["Returns"])

In [47]:
returned_products.head()

,Product_Code,Warehouse,Product_Category,Date,Returns,month_year,year
112290,Product_2169,Whse_A,Category_024,2017-08-09,1.0,2017-08,2017
112307,Product_2132,Whse_A,Category_009,2017-11-01,24.0,2017-11,2017
112308,Product_2144,Whse_A,Category_009,2017-11-01,24.0,2017-11,2017
112356,Product_2118,Whse_A,Category_009,2017-03-07,50.0,2017-03,2017
112357,Product_2120,Whse_A,Category_009,2017-03-07,100.0,2017-03,2017

In [48]:
returned_products = returned_products.reset_index(drop = True)

In [49]:
sales = data[data["Order_Demand"] >= 0]

In [50]:
sales = sales.reset_index(drop = True)

In [51]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1031437 entries, 0 to 1031436
Data columns (total 7 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Product_Code      1031437 non-null  object
 1   Warehouse         1031437 non-null  object
 2   Product_Category  1031437 non-null  object
 3   Date              1031437 non-null  datetime64[ns]
 4   Order_Demand      1031437 non-null  float64
 5   month_year        1031437 non-null  period[M]
 6   year              1031437 non-null  period[A-DEC]
dtypes: datetime64[ns](1), float64(1), object(3), period[A-DEC](1), period[M](1)
memory usage: 55.1+ MB

In [52]:
returned_products.to_csv("../data/returns.csv")

In [53]:
sales.to_csv("../data/sales.csv")

In [54]:
sales["year"].max()

Period('2022', 'A-DEC')

# Data Restructuring for Dash App

In [55]:
sales_app = sales[sales["year"] >= "2019" ]

In [56]:
sales_app.head()

,Product_Code,Warehouse,Product_Category,Date,Order_Demand,month_year,year
202916,Product_1904,Whse_S,Category_019,2019-04-05,35000.0,2019-04,2019
205411,Product_1341,Whse_S,Category_019,2019-01-07,140000.0,2019-01,2019
207885,Product_1356,Whse_S,Category_019,2019-01-03,10000.0,2019-01,2019
207888,Product_1431,Whse_S,Category_019,2019-01-03,50000.0,2019-01,2019
267871,Product_0980,Whse_A,Category_028,2019-11-14,5000.0,2019-11,2019

In [57]:
sales_app["month"] = sales_app["Date"].dt.month_name(locale='English')

C:\Users\HP\AppData\Local\Temp\ipykernel_13420\2461221576.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_app["month"] = sales_app["Date"].dt.month_name(locale='English')

In [58]:
sales_app.head()

,Product_Code,Warehouse,Product_Category,Date,Order_Demand,month_year,year,month
202916,Product_1904,Whse_S,Category_019,2019-04-05,35000.0,2019-04,2019,April
205411,Product_1341,Whse_S,Category_019,2019-01-07,140000.0,2019-01,2019,January
207885,Product_1356,Whse_S,Category_019,2019-01-03,10000.0,2019-01,2019,January
207888,Product_1431,Whse_S,Category_019,2019-01-03,50000.0,2019-01,2019,January
267871,Product_0980,Whse_A,Category_028,2019-11-14,5000.0,2019-11,2019,November

In [59]:
returns_app = returned_products[returned_products["year"] >= "2019"]

In [60]:
returns_app["month"] = returns_app["Date"].dt.month_name(locale = "English")

C:\Users\HP\AppData\Local\Temp\ipykernel_13420\802205298.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  returns_app["month"] = returns_app["Date"].dt.month_name(locale = "English")

In [61]:
returns_app.head()

,Product_Code,Warehouse,Product_Category,Date,Returns,month_year,year,month
2660,Product_2156,Whse_S,Category_022,2019-03-10,16.0,2019-03,2019,March
2661,Product_0230,Whse_A,Category_007,2019-07-09,66.0,2019-07,2019,July
2662,Product_0211,Whse_A,Category_007,2019-01-15,40.0,2019-01,2019,January
2663,Product_0643,Whse_A,Category_028,2019-05-20,1.0,2019-05,2019,May
2664,Product_1445,Whse_A,Category_019,2019-01-29,2000.0,2019-01,2019,January

In [62]:
sales_app = sales_app.groupby(["Warehouse", "Product_Category", "Product_Code", "month_year", "month", "year"]).sum(["Order_Demand"])
returns_app = returns_app.groupby(["Warehouse", "Product_Category", "Product_Code", "month_year", "month", "year"]).sum("Returns")

In [63]:
sales_app = pd.DataFrame(sales_app)
returns_app = pd.DataFrame(returns_app)

In [64]:
sales_app = sales_app.reset_index()
returns_app = returns_app.reset_index()

In [65]:
sales_app.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83648 entries, 0 to 83647
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Warehouse         83648 non-null  object
 1   Product_Category  83648 non-null  object
 2   Product_Code      83648 non-null  object
 3   month_year        83648 non-null  period[M]
 4   month             83648 non-null  object
 5   year              83648 non-null  period[A-DEC]
 6   Order_Demand      83648 non-null  float64
dtypes: float64(1), object(4), period[A-DEC](1), period[M](1)
memory usage: 4.5+ MB

In [66]:
returns_app.head()

  Warehouse Product_Category  Product_Code month_year     month  year  Returns
0    Whse_A     Category_001  Product_1751    2020-05       May  2020      5.0
1    Whse_A     Category_003  Product_1180    2019-02  February  2019     90.0
2    Whse_A     Category_003  Product_1719    2019-02  February  2019     54.0
3    Whse_A     Category_003  Product_1719    2020-02  February  2020     54.0
4    Whse_A     Category_003  Product_1724    2019-04     April  2019     81.0

In [67]:
app_data = sales_app.merge(returns_app, on = ["Warehouse", "Product_Category", "Product_Code", "month_year", "month", "year"], how = "left")

In [68]:
app_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 83648 entries, 0 to 83647
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Warehouse         83648 non-null  object
 1   Product_Category  83648 non-null  object
 2   Product_Code      83648 non-null  object
 3   month_year        83648 non-null  period[M]
 4   month             83648 non-null  object
 5   year              83648 non-null  period[A-DEC]
 6   Order_Demand      83648 non-null  float64
 7   Returns           2745 non-null   float64
dtypes: float64(2), object(4), period[A-DEC](1), period[M](1)
memory usage: 5.7+ MB

In [69]:
app_data.head()

,Warehouse,Product_Category,Product_Code,month_year,month,year,Order_Demand,Returns
0,Whse_A,Category_001,Product_1751,2019-01,January,2019,44.0,NaN
1,Whse_A,Category_001,Product_1751,2019-02,February,2019,139.0,NaN
2,Whse_A,Category_001,Product_1751,2019-03,March,2019,187.0,NaN
3,Whse_A,Category_001,Product_1751,2019-04,April,2019,63.0,NaN
4,Whse_A,Category_001,Product_1751,2019-05,May,2019,29.0,NaN

In [70]:
app_data = app_data.fillna(0)

In [71]:
app_data.head()

,Warehouse,Product_Category,Product_Code,month_year,month,year,Order_Demand,Returns
0,Whse_A,Category_001,Product_1751,2019-01,January,2019,44.0,0.0
1,Whse_A,Category_001,Product_1751,2019-02,February,2019,139.0,0.0
2,Whse_A,Category_001,Product_1751,2019-03,March,2019,187.0,0.0
3,Whse_A,Category_001,Product_1751,2019-04,April,2019,63.0,0.0
4,Whse_A,Category_001,Product_1751,2019-05,May,2019,29.0,0.0

In [72]:
app_data.to_csv("../data/app_data.csv")