In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv(r"../data/Historical Product Demand.csv")

In [3]:
data.head()

   Product_Code Warehouse Product_Category       Date Order_Demand
0  Product_0993    Whse_J     Category_028  2012/7/27         100
1  Product_0979    Whse_J     Category_028  2012/1/19         500
2  Product_0979    Whse_J     Category_028   2012/2/3         500
3  Product_0979    Whse_J     Category_028   2012/2/9         500
4  Product_0979    Whse_J     Category_028   2012/3/2         500

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 5 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Product_Code      1048575 non-null  object
 1   Warehouse         1048575 non-null  object
 2   Product_Category  1048575 non-null  object
 3   Date              1037336 non-null  object
 4   Order_Demand      1048575 non-null  object
dtypes: object(5)
memory usage: 40.0+ MB

In [5]:
null_date = data[data["Date"].isnull()]

In [6]:
null_date.head(10)

        Product_Code Warehouse Product_Category Date Order_Demand
45460   Product_1461    Whse_A     Category_019  NaN       10000
456373  Product_1636    Whse_A     Category_019  NaN         100
456374  Product_1461    Whse_A     Category_019  NaN         300
456375  Product_1464    Whse_A     Category_019  NaN         300
456376  Product_1388    Whse_A     Category_019  NaN         200
456377  Product_1464    Whse_A     Category_019  NaN         600
456378  Product_1402    Whse_A     Category_019  NaN         600
456379  Product_1461    Whse_A     Category_019  NaN         100
456380  Product_1539    Whse_A     Category_019  NaN         100
456381  Product_1388    Whse_A     Category_019  NaN         800

In [7]:
clean_data = data.dropna()

In [8]:
clean_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1037336 entries, 0 to 1048574
Data columns (total 5 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Product_Code      1037336 non-null  object
 1   Warehouse         1037336 non-null  object
 2   Product_Category  1037336 non-null  object
 3   Date              1037336 non-null  object
 4   Order_Demand      1037336 non-null  object
dtypes: object(5)
memory usage: 47.5+ MB

In [9]:
clean_data.head()

   Product_Code Warehouse Product_Category       Date Order_Demand
0  Product_0993    Whse_J     Category_028  2012/7/27         100
1  Product_0979    Whse_J     Category_028  2012/1/19         500
2  Product_0979    Whse_J     Category_028   2012/2/3         500
3  Product_0979    Whse_J     Category_028   2012/2/9         500
4  Product_0979    Whse_J     Category_028   2012/3/2         500

In [10]:
clean_data["Date"] = pd.to_datetime(clean_data["Date"])

C:\Users\HP\AppData\Local\Temp\ipykernel_26924\986988451.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_data["Date"] = pd.to_datetime(clean_data["Date"])

In [11]:
clean_data.head()

   Product_Code Warehouse Product_Category       Date Order_Demand
0  Product_0993    Whse_J     Category_028 2012-07-27         100
1  Product_0979    Whse_J     Category_028 2012-01-19         500
2  Product_0979    Whse_J     Category_028 2012-02-03         500
3  Product_0979    Whse_J     Category_028 2012-02-09         500
4  Product_0979    Whse_J     Category_028 2012-03-02         500

In [12]:

clean_data["Date"].min()

Timestamp('2011-01-08 00:00:00')

In [13]:
clean_data["Date"].max()

Timestamp('2017-01-09 00:00:00')

In [14]:
df = clean_data.groupby(["Date", "Warehouse", "Product_Category", "Product_Code"])["Order_Demand"].sum()

In [15]:
df.head(10)

Date        Warehouse  Product_Category  Product_Code
2011-01-08  Whse_A     Category_006      Product_0965             2
2011-05-31  Whse_A     Category_003      Product_1724           108
2011-06-24  Whse_S     Category_019      Product_1521    85000 7000
2011-09-02  Whse_C     Category_019      Product_1507          1250
2011-09-27  Whse_C     Category_001      Product_0608             5
                                         Product_1933            23
2011-09-30  Whse_C     Category_023      Product_0875          5450
2011-10-20  Whse_S     Category_007      Product_0412            (2)
                       Category_011      Product_0125            (2)
2011-10-31  Whse_C     Category_019      Product_0642             3
Name: Order_Demand, dtype: object

In [16]:
clean_data["month_year"] = clean_data["Date"].dt.to_period('M')

C:\Users\HP\AppData\Local\Temp\ipykernel_26924\1985480840.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_data["month_year"] = clean_data["Date"].dt.to_period('M')

In [17]:
clean_data.head()

   Product_Code Warehouse Product_Category       Date Order_Demand month_year
0  Product_0993    Whse_J     Category_028 2012-07-27         100     2012-07
1  Product_0979    Whse_J     Category_028 2012-01-19         500     2012-01
2  Product_0979    Whse_J     Category_028 2012-02-03         500     2012-02
3  Product_0979    Whse_J     Category_028 2012-02-09         500     2012-02
4  Product_0979    Whse_J     Category_028 2012-03-02         500     2012-03

In [18]:
clean_data["month_year"].unique()

<PeriodArray>
['2012-07', '2012-01', '2012-02', '2012-03', '2012-04', '2012-06', '2012-08',
 '2012-09', '2012-10', '2012-11', '2012-12', '2012-05', '2011-12', '2013-01',
 '2011-11', '2011-06', '2011-09', '2011-01', '2011-05', '2011-10', '2013-02',
 '2013-10', '2013-03', '2013-04', '2013-05', '2013-06', '2013-07', '2013-08',
 '2013-09', '2013-11', '2013-12', '2014-04', '2014-01', '2014-11', '2014-02',
 '2014-09', '2014-10', '2014-12', '2014-03', '2014-05', '2014-06', '2014-07',
 '2014-08', '2015-01', '2015-02', '2015-03', '2015-04', '2015-05', '2015-06',
 '2015-07', '2015-08', '2015-10', '2015-11', '2015-12', '2015-09', '2016-01',
 '2016-02', '2016-04', '2016-05', '2016-06', '2016-07', '2016-09', '2016-10',
 '2016-11', '2016-12', '2016-03', '2016-08', '2017-01']
Length: 68, dtype: period[M]

In [19]:
clean_data["month_year"].nunique()

68

In [20]:
clean_data["Order_Demand"].unique()

array(['100 ', '500 ', '50000 ', ..., '(3750)', '(191)', '28250 '],
      dtype=object)

In [21]:
clean_data["Order_Demand"] = clean_data["Order_Demand"].replace( '[\$,)]','', regex=True )\
               .replace( '[(]','-',   regex=True ).astype(float)

C:\Users\HP\AppData\Local\Temp\ipykernel_26924\4293959192.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  clean_data["Order_Demand"] = clean_data["Order_Demand"].replace( '[\$,)]','', regex=True )\

In [22]:
grouped = clean_data.groupby(["month_year", "Warehouse", "Product_Category", "Product_Code"])["Order_Demand"].sum()

In [23]:
grouped.head()

month_year  Warehouse  Product_Category  Product_Code
2011-01     Whse_A     Category_006      Product_0965        2.0
2011-05     Whse_A     Category_003      Product_1724      108.0
2011-06     Whse_S     Category_019      Product_1521    92000.0
2011-09     Whse_C     Category_001      Product_0608        5.0
                                         Product_1933       23.0
Name: Order_Demand, dtype: float64

In [24]:
grouped.to_frame()

                                                    Order_Demand
month_year Warehouse Product_Category Product_Code
2011-01    Whse_A    Category_006     Product_0965           2.0
2011-05    Whse_A    Category_003     Product_1724         108.0
2011-06    Whse_S    Category_019     Product_1521       92000.0
2011-09    Whse_C    Category_001     Product_0608           5.0
                                      Product_1933          23.0
...                                                          ...
2017-01    Whse_J    Category_021     Product_0332           1.0
                     Category_026     Product_1710          15.0
                     Category_028     Product_0991         250.0
           Whse_S    Category_012     Product_0566          70.0
                     Category_020     Product_1077         200.0

[136026 rows x 1 columns]

In [25]:
grouped = grouped.reset_index()

In [26]:
grouped.head(30)

   month_year Warehouse Product_Category  Product_Code  Order_Demand
0     2011-01    Whse_A     Category_006  Product_0965           2.0
1     2011-05    Whse_A     Category_003  Product_1724         108.0
2     2011-06    Whse_S     Category_019  Product_1521       92000.0
3     2011-09    Whse_C     Category_001  Product_0608           5.0
4     2011-09    Whse_C     Category_001  Product_1933          23.0
5     2011-09    Whse_C     Category_019  Product_1507        1250.0
6     2011-09    Whse_C     Category_023  Product_0875        5450.0
7     2011-10    Whse_C     Category_019  Product_0642           3.0
8     2011-10    Whse_S     Category_007  Product_0412          -2.0
9     2011-10    Whse_S     Category_011  Product_0125          -2.0
10    2011-11    Whse_A     Category_006  Product_0965          11.0
11    2011-11    Whse_A     Category_007  Product_0202        -500.0
12    2011-11    Whse_A     Category_021  Product_0122         310.0
13    2011-11    Whse_A     Category_028  Product_0980        7300.0
14    2011-11    Whse_A     Category_028  Product_0981         400.0
15    2011-11    Whse_A     Category_028  Product_0982        5050.0
16    2011-11    Whse_A     Category_028  Product_0987       13500.0
17    2011-11    Whse_C     Category_007  Product_0208           2.0
18    2011-11    Whse_C     Category_019  Product_1190        1250.0
19    2011-11    Whse_C     Category_019  Product_1235       16000.0
20    2011-11    Whse_C     Category_019  Product_1264       40000.0
21    2011-11    Whse_J     Category_007  Product_0138        2040.0
22    2011-11    Whse_S     Category_009  Product_2137         -25.0
23    2011-11    Whse_S     Category_009  Product_2138         -49.0
24    2011-11    Whse_S     Category_009  Product_2143         -25.0
25    2011-11    Whse_S     Category_021  Product_0131         -12.0
26    2011-11    Whse_S     Category_021  Product_0288         -50.0
27    2011-12    Whse_A     Category_006  Product_0965           1.0
28    2011-12    Whse_A     Category_006  Product_0966          20.0
29    2011-12    Whse_A     Category_006  Product_0967          70.0

In [27]:
grouped["month_year"]

0         2011-01
1         2011-05
2         2011-06
3         2011-09
4         2011-09
           ...
136021    2017-01
136022    2017-01
136023    2017-01
136024    2017-01
136025    2017-01
Name: month_year, Length: 136026, dtype: period[M]

In [28]:
returned_products = clean_data[clean_data["Order_Demand"] < 0]

In [29]:
returned_products.reset_index(drop = True)

,Product_Code,Warehouse,Product_Category,Date,Order_Demand,month_year
0,Product_2169,Whse_A,Category_024,2012-08-09,-1.0,2012-08
1,Product_2132,Whse_A,Category_009,2012-11-01,-24.0,2012-11
2,Product_2144,Whse_A,Category_009,2012-11-01,-24.0,2012-11
3,Product_2118,Whse_A,Category_009,2012-03-07,-50.0,2012-03
4,Product_2120,Whse_A,Category_009,2012-03-07,-100.0,2012-03
...,...,...,...,...,...,...
5894,Product_1887,Whse_J,Category_007,2016-06-30,-100.0,2016-06
5895,Product_0092,Whse_J,Category_019,2016-06-15,-400.0,2016-06
5896,Product_0686,Whse_J,Category_011,2016-07-29,-230.0,2016-07
5897,Product_0687,Whse_J,Category_011,2016-07-29,-230.0,2016-07
5898,Product_0688,Whse_J,Category_011,2016-07-29,-270.0,2016-07

In [30]:
returned_products["Order_Demand"] = abs(returned_products["Order_Demand"])

C:\Users\HP\AppData\Local\Temp\ipykernel_26924\3343609009.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  returned_products["Order_Demand"] = abs(returned_products["Order_Demand"])

In [31]:
returned_products.head()

,Product_Code,Warehouse,Product_Category,Date,Order_Demand,month_year
112290,Product_2169,Whse_A,Category_024,2012-08-09,1.0,2012-08
112307,Product_2132,Whse_A,Category_009,2012-11-01,24.0,2012-11
112308,Product_2144,Whse_A,Category_009,2012-11-01,24.0,2012-11
112356,Product_2118,Whse_A,Category_009,2012-03-07,50.0,2012-03
112357,Product_2120,Whse_A,Category_009,2012-03-07,100.0,2012-03

In [32]:
returned_products["year"] = returned_products["Date"].dt.to_period('Y')

C:\Users\HP\AppData\Local\Temp\ipykernel_26924\1233306368.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  returned_products["year"] = returned_products["Date"].dt.to_period('Y')

In [33]:
returned_products = returned_products.reset_index(drop = True)

In [34]:
returned_products.to_csv("../data/returns.csv")

In [35]:
sales = clean_data[clean_data["Order_Demand"] >= 0]

In [36]:
sales["year"] = sales["Date"].dt.to_period('Y')

C:\Users\HP\AppData\Local\Temp\ipykernel_26924\4147077913.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales["year"] = sales["Date"].dt.to_period('Y')

In [37]:
sales = sales.reset_index(drop = True)

In [38]:
sales.to_csv("../data/sales.csv")