In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt  
import seaborn as sns

In [2]:
data_df = pd.read_csv(r"../data/rev-data.csv", index_col = 0)

In [3]:
data_df = data_df.drop("revenue", axis = 1)

In [4]:
data_df = data_df.rename(columns = {"total_price": "revenue"})

In [5]:
data_df.head()

,product_id,product_category_name,month_year,qty,revenue,freight_price,unit_price,product_name_lenght,product_description_lenght,product_photos_qty,...,ps1,fp1,comp_2,ps2,fp2,comp_3,ps3,fp3,lag_price,total_revenue
0,bed1,bed_bath_table,2020-05-01,1,45.95,15.100000,45.95,39,161,2,...,3.9,15.011897,215.000000,4.4,8.760000,45.95,4.0,15.100000,45.90,61.050000
1,bed1,bed_bath_table,2020-06-01,3,137.85,12.933333,45.95,39,161,2,...,3.9,14.769216,209.000000,4.4,21.322000,45.95,4.0,12.933333,45.95,150.783333
2,bed1,bed_bath_table,2020-07-01,6,275.70,14.840000,45.95,39,161,2,...,3.9,13.993833,205.000000,4.4,22.195932,45.95,4.0,14.840000,45.95,290.540000
3,bed1,bed_bath_table,2020-08-01,4,183.80,14.287500,45.95,39,161,2,...,3.9,14.656757,199.509804,4.4,19.412885,45.95,4.0,14.287500,45.95,198.087500
4,bed1,bed_bath_table,2020-09-01,2,91.90,15.100000,45.95,39,161,2,...,3.9,18.776522,163.398710,4.4,24.324687,45.95,4.0,15.100000,45.95,107.000000

In [6]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 676 entries, 0 to 675
Data columns (total 31 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  676 non-null    object
 1   product_category_name       676 non-null    object
 2   month_year                  676 non-null    object
 3   qty                         676 non-null    int64
 4   revenue                     676 non-null    float64
 5   freight_price               676 non-null    float64
 6   unit_price                  676 non-null    float64
 7   product_name_lenght         676 non-null    int64
 8   product_description_lenght  676 non-null    int64
 9   product_photos_qty          676 non-null    int64
 10  product_weight_g            676 non-null    int64
 11  product_score               676 non-null    float64
 12  customers                   676 non-null    int64
 13  weekday                     676 non-null    int64
 14  weekend                     676 non-null    int64
 15  holiday                     676 non-null    int64
 16  month                       676 non-null    int64
 17  year                        676 non-null    int64
 18  s                           676 non-null    float64
 19  volume                      676 non-null    int64
 20  comp_1                      676 non-null    float64
 21  ps1                         676 non-null    float64
 22  fp1                         676 non-null    float64
 23  comp_2                      676 non-null    float64
 24  ps2                         676 non-null    float64
 25  fp2                         676 non-null    float64
 26  comp_3                      676 non-null    float64
 27  ps3                         676 non-null    float64
 28  fp3                         676 non-null    float64
 29  lag_price                   676 non-null    float64
 30  total_revenue               676 non-null    float64
dtypes: float64(16), int64(12), object(3)
memory usage: 169.0+ KB

In [7]:
model_data = data_df[["product_id", "product_category_name", "month_year", "qty", "revenue", "unit_price", "product_score", "freight_price", "s", "customers"]]

In [8]:
model_data.to_csv("../data/forecast-data.csv")

In [9]:
from audioop import avg


model_data = model_data.groupby(["month_year", "product_category_name", "product_id"]).agg( 
                        total_qty_sold = pd.NamedAgg(column = "qty", aggfunc=sum),
                        conv_customers = pd.NamedAgg(column = "customers", aggfunc=sum),
                        avg_prod_score = pd.NamedAgg(column = "product_score", aggfunc= np.mean),
                        avg_freight_price = pd.NamedAgg(column = "freight_price", aggfunc=np.mean), 
                        avg_unit_price = pd.NamedAgg(column = "unit_price", aggfunc=np.mean))

In [10]:
model_data.head(15)

                                             total_qty_sold  conv_customers  \
month_year product_category_name product_id
2020-01-01 health_beauty         health5                  8               9
                                 health7                  1               9
2020-02-01 bed_bath_table        bed2                     2               2
           computers_accessories computers4               3               3
           cool_stuff            cool1                    7               7
           garden_tools          garden1                  1               3
                                 garden3                  1               3
                                 garden8                  1               3
           health_beauty         health5                  4              19
                                 health7                  5              19
                                 health9                 11              19
2020-03-01 bed_bath_table        bed2                    22              20
           computers_accessories computers4               3               3
           cool_stuff            cool1                   14              22
                                 cool2                    8              22

                                             avg_prod_score  \
month_year product_category_name product_id
2020-01-01 health_beauty         health5                4.3
                                 health7                3.9
2020-02-01 bed_bath_table        bed2                   3.9
           computers_accessories computers4             4.2
           cool_stuff            cool1                  4.2
           garden_tools          garden1                4.3
                                 garden3                4.1
                                 garden8                4.2
           health_beauty         health5                4.3
                                 health7                3.9
                                 health9                4.3
2020-03-01 bed_bath_table        bed2                   3.9
           computers_accessories computers4             4.2
           cool_stuff            cool1                  4.2
                                 cool2                  4.3

                                             avg_freight_price  avg_unit_price
month_year product_category_name product_id
2020-01-01 health_beauty         health5             22.901250      349.900000
                                 health7             11.060000       64.990000
2020-02-01 bed_bath_table        bed2                13.020000       89.900000
           computers_accessories computers4          33.400000      159.990000
           cool_stuff            cool1               21.971429       85.704286
           garden_tools          garden1             28.890000       99.990000
                                 garden3             33.000000       99.990000
                                 garden8             33.540000      179.990000
           health_beauty         health5             26.927500      349.900000
                                 health7             15.348000       64.990000
                                 health9             11.750909       19.990000
2020-03-01 bed_bath_table        bed2                13.652727       89.900000
           computers_accessories computers4          33.400000      159.990000
           cool_stuff            cool1               16.644286       99.990000
                                 cool2               18.778750      129.990000

In [11]:
model_data = model_data.reset_index(drop = False)

In [12]:
model_data.head()

,month_year,product_category_name,product_id,total_qty_sold,conv_customers,avg_prod_score,avg_freight_price,avg_unit_price
0,2020-01-01,health_beauty,health5,8,9,4.3,22.901250,349.900000
1,2020-01-01,health_beauty,health7,1,9,3.9,11.060000,64.990000
2,2020-02-01,bed_bath_table,bed2,2,2,3.9,13.020000,89.900000
3,2020-02-01,computers_accessories,computers4,3,3,4.2,33.400000,159.990000
4,2020-02-01,cool_stuff,cool1,7,7,4.2,21.971429,85.704286

In [13]:
model_data["product_category_name"].unique()

array(['health_beauty', 'bed_bath_table', 'computers_accessories',
       'cool_stuff', 'garden_tools', 'watches_gifts', 'perfumery',
       'consoles_games', 'furniture_decor'], dtype=object)

In [14]:
mapping_dict ={
    "health_beauty" : "HB",
    "bed_bath_table" : "BBT",
    "computers_accessories": "CA",
    "consoles_games": "CG",
    "garden_tools": "GT",
    "watches_gifts":"WG",
    "perfumery":"PF",
    "cool_stuff":"CS",
    "furniture_decor":"FD"
}
model_data["product_category_name"] = model_data["product_category_name"].map(mapping_dict)

In [15]:
model_data["prod_cat_id"] = model_data.apply(lambda x: f"{x['product_category_name']}_{x['product_id']}", axis=1)

In [16]:
model_data.head()

,month_year,product_category_name,product_id,total_qty_sold,conv_customers,avg_prod_score,avg_freight_price,avg_unit_price,prod_cat_id
0,2020-01-01,HB,health5,8,9,4.3,22.901250,349.900000,HB_health5
1,2020-01-01,HB,health7,1,9,3.9,11.060000,64.990000,HB_health7
2,2020-02-01,BBT,bed2,2,2,3.9,13.020000,89.900000,BBT_bed2
3,2020-02-01,CA,computers4,3,3,4.2,33.400000,159.990000,CA_computers4
4,2020-02-01,CS,cool1,7,7,4.2,21.971429,85.704286,CS_cool1

In [17]:
bottom_level = model_data.pivot(index = "month_year", columns = "prod_cat_id", values = ["total_qty_sold", "conv_customers", "avg_prod_score",
                                                                                         "avg_unit_price", "avg_freight_price"])

In [18]:
mid_level = model_data.groupby(["month_year", "product_category_name"]).agg(
    total_qty_sold = pd.NamedAgg(column = "total_qty_sold", aggfunc=sum),
                        conv_customers = pd.NamedAgg(column = "conv_customers", aggfunc=sum),
                        avg_prod_score = pd.NamedAgg(column = "avg_prod_score", aggfunc= np.mean),
                        avg_freight_price = pd.NamedAgg(column = "avg_freight_price", aggfunc=np.mean), 
                        avg_unit_price = pd.NamedAgg(column = "avg_unit_price", aggfunc=np.mean)).\
                            reset_index(drop = False).\
                            pivot(index = "month_year", columns = "product_category_name", values = ["total_qty_sold", "conv_customers", "avg_prod_score",
                                                                                         "avg_unit_price", "avg_freight_price"])

In [19]:
mid_level.head()

                      total_qty_sold                                           \
product_category_name            BBT    CA  CG    CS  FD    GT    HB  PF   WG
month_year
2020-01-01                       NaN   NaN NaN   NaN NaN   NaN   9.0 NaN  NaN
2020-02-01                       2.0   3.0 NaN   7.0 NaN   3.0  20.0 NaN  NaN
2020-03-01                      22.0   3.0 NaN  22.0 NaN  22.0  26.0 NaN  6.0
2020-04-01                      34.0   5.0 NaN  33.0 NaN  23.0  23.0 NaN  3.0
2020-05-01                      60.0  19.0 NaN  58.0 NaN  43.0  42.0 NaN  NaN

                      conv_customers  ... avg_unit_price avg_freight_price  \
product_category_name            BBT  ...             WG               BBT
month_year                            ...
2020-01-01                       NaN  ...            NaN               NaN
2020-02-01                       2.0  ...            NaN         13.020000
2020-03-01                      20.0  ...        159.503         13.652727
2020-04-01                      31.0  ...        255.610         15.050000
2020-05-01                     171.0  ...            NaN         12.957299

                                                                               \
product_category_name         CA  CG         CS  FD         GT         HB  PF
month_year
2020-01-01                   NaN NaN        NaN NaN        NaN  16.980625 NaN
2020-02-01             33.400000 NaN  21.971429 NaN  31.810000  18.008803 NaN
2020-03-01             33.400000 NaN  17.711518 NaN  31.721697  16.344028 NaN
2020-04-01             35.122000 NaN  17.589594 NaN  26.462556  17.499117 NaN
2020-05-01             17.297333 NaN  16.290303 NaN  24.875432  18.121927 NaN


product_category_name         WG
month_year
2020-01-01                   NaN
2020-02-01                   NaN
2020-03-01             19.649000
2020-04-01             21.226667
2020-05-01                   NaN

[5 rows x 45 columns]

In [20]:
top_level = model_data.groupby(["month_year"]).agg(
    total_qty_sold = pd.NamedAgg(column = "total_qty_sold", aggfunc=sum),
                        conv_customers = pd.NamedAgg(column = "conv_customers", aggfunc=sum),
                        avg_prod_score = pd.NamedAgg(column = "avg_prod_score", aggfunc= np.mean),
                        avg_freight_price = pd.NamedAgg(column = "avg_freight_price", aggfunc=np.mean), 
                        avg_unit_price = pd.NamedAgg(column = "avg_unit_price", aggfunc=np.mean))

In [21]:
hierarchy_df = bottom_level.join(mid_level).join(top_level)
hierarchy_df.index = pd.to_datetime(hierarchy_df.index)

C:\Users\HP\AppData\Local\Temp\ipykernel_18536\2200764882.py:1: FutureWarning: merging between different levels is deprecated and will be removed in a future version. (2 levels on the left, 1 on the right)
  hierarchy_df = bottom_level.join(mid_level).join(top_level)

In [22]:
hierarchy_df

,"(total_qty_sold, BBT_bed1)","(total_qty_sold, BBT_bed2)","(total_qty_sold, BBT_bed3)","(total_qty_sold, BBT_bed4)","(total_qty_sold, BBT_bed5)","(total_qty_sold, CA_computers1)","(total_qty_sold, CA_computers2)","(total_qty_sold, CA_computers3)","(total_qty_sold, CA_computers4)","(total_qty_sold, CA_computers5)",...,"(avg_freight_price, FD)","(avg_freight_price, GT)","(avg_freight_price, HB)","(avg_freight_price, PF)","(avg_freight_price, WG)",total_qty_sold,conv_customers,avg_prod_score,avg_freight_price,avg_unit_price
month_year,,,,,,,,,,,,,,,,,,,,,
2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,16.980625,NaN,NaN,9,18,4.100000,16.980625,207.445000
2020-02-01,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,31.810000,18.008803,NaN,NaN,35,78,4.155556,24.205315,127.827143
2020-03-01,NaN,22.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,31.721697,16.344028,NaN,19.649000,101,242,4.107692,21.716536,122.586615
2020-04-01,NaN,34.0,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,...,NaN,26.462556,17.499117,NaN,21.226667,121,309,4.140000,22.362675,119.288667
2020-05-01,1.0,58.0,NaN,NaN,1.0,4.0,NaN,15.0,NaN,NaN,...,NaN,24.875432,18.121927,NaN,NaN,222,803,4.160000,19.691432,104.785769
2020-06-01,3.0,51.0,NaN,NaN,10.0,6.0,NaN,15.0,3.0,NaN,...,NaN,25.696202,16.313750,18.452500,13.303750,233,820,4.136000,19.948719,112.152081
2020-07-01,6.0,60.0,NaN,NaN,59.0,10.0,NaN,4.0,6.0,NaN,...,11.818000,23.260612,17.637999,11.750000,15.237291,403,1686,4.106061,18.699182,105.111896
2020-08-01,4.0,37.0,NaN,NaN,52.0,2.0,NaN,13.0,7.0,NaN,...,13.110641,22.303358,18.420066,14.669286,15.733717,495,2279,4.089189,18.119839,114.737339
2020-09-01,2.0,23.0,NaN,NaN,32.0,4.0,NaN,12.0,11.0,NaN,...,15.725000,23.445954,17.904997,11.465588,16.142022,450,2275,4.108333,19.633102,112.336313
2020-10-01,3.0,14.0,8.0,29.0,NaN,4.0,NaN,16.0,17.0,1.0,...,14.392917,25.845156,17.515692,14.721471,13.633780,550,2949,4.065116,19.268184,113.623544
2020-11-01,11.0,40.0,22.0,32.0,NaN,6.0,1.0,18.0,18.0,NaN,...,16.181365,29.380688,16.066870,13.503875,16.837253,1051,6108,4.075000,20.426668,105.089355
2020-12-01,6.0,18.0,7.0,12.0,NaN,1.0,12.0,2.0,23.0,2.0,...,16.369350,27.250465,16.817085,12.423333,17.817766,678,3874,4.070455,20.336538,109.526701
2021-01-01,19.0,17.0,11.0,19.0,NaN,31.0,29.0,5.0,43.0,57.0,...,16.024420,29.267911,21.249151,13.126667,17.265814,866,4874,4.066667,20.941397,109.686025
2021-02-01,18.0,22.0,13.0,16.0,NaN,30.0,71.0,3.0,31.0,45.0,...,19.825558,28.406942,15.998297,14.219205,17.380428,869,5238,4.071429,19.553367,107.690421
2021-03-01,17.0,17.0,3.0,8.0,NaN,13.0,27.0,NaN,44.0,6.0,...,17.802108,39.316503,19.745381,15.185714,21.325885,824,5276,4.072000,23.632942,101.809616
2021-04-01,13.0,6.0,9.0,7.0,NaN,5.0,13.0,NaN,56.0,10.0,...,15.217168,31.120854,19.929935,17.657500,14.111775,760,4653,4.072917,20.314501,101.762989
2021-05-01,19.0,26.0,14.0,2.0,NaN,NaN,11.0,NaN,25.0,NaN,...,12.356736,20.585874,18.937013,15.852353,10.259688,898,5294,4.085000,16.336241,100.167249
2021-06-01,5.0,23.0,14.0,4.0,NaN,4.0,10.0,NaN,27.0,3.0,...,21.246885,31.719639,21.131110,14.172857,18.235115,474,3075,4.061905,22.908681,97.013803
2021-07-01,8.0,10.0,9.0,2.0,NaN,18.0,7.0,NaN,9.0,3.0,...,23.625048,33.610612,21.170629,14.250250,18.948707,427,2769,4.072500,24.153740,96.016725
2021-08-01,8.0,7.0,1.0,NaN,NaN,1.0,2.0,NaN,10.0,NaN,...,20.286198,35.968899,18.851585,15.035294,18.322123,333,2155,4.092105,23.707446,95.216471

In [23]:
categories = model_data["product_category_name"].unique()
products = model_data["prod_cat_id"].unique()

In [24]:
total = {'total': list(categories)}
category = {i: [j for j in products if j.startswith(i)] for i in categories}
hierarchy = {**total, **category}

In [25]:
hierarchy

{'total': ['HB', 'BBT', 'CA', 'CS', 'GT', 'WG', 'PF', 'CG', 'FD'],
 'HB': ['HB_health5',
  'HB_health7',
  'HB_health9',
  'HB_health8',
  'HB_health1',
  'HB_health2',
  'HB_health4',
  'HB_health3',
  'HB_health6',
  'HB_health10'],
 'BBT': ['BBT_bed2', 'BBT_bed1', 'BBT_bed5', 'BBT_bed3', 'BBT_bed4'],
 'CA': ['CA_computers4',
  'CA_computers1',
  'CA_computers3',
  'CA_computers5',
  'CA_computers2',
  'CA_computers6'],
 'CS': ['CS_cool1', 'CS_cool2', 'CS_cool5', 'CS_cool4', 'CS_cool3'],
 'GT': ['GT_garden1',
  'GT_garden3',
  'GT_garden8',
  'GT_garden5',
  'GT_garden2',
  'GT_garden7',
  'GT_garden9',
  'GT_garden10',
  'GT_garden6',
  'GT_garden4'],
 'WG': ['WG_watches1',
  'WG_watches3',
  'WG_watches2',
  'WG_watches6',
  'WG_watches8',
  'WG_watches5',
  'WG_watches7',
  'WG_watches4'],
 'PF': ['PF_perfumery1', 'PF_perfumery2'],
 'CG': ['CG_consoles1', 'CG_consoles2'],
 'FD': ['FD_furniture1', 'FD_furniture2', 'FD_furniture3', 'FD_furniture4']}

In [27]:
from hts.hierarchy import HierarchyTree

tree = HierarchyTree.from_nodes(hierarchy, hierarchy_df, root = 'total' )

KeyError: "None of [Index(['total'], dtype='object')] are in the [columns]"

# Hierachial-Time-Series Feature-Eng