In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt  
import seaborn as sns

In [3]:
data_check = pd.read_csv(r"../data/rev-data.csv", index_col = 0)

In [4]:
data_check["product_id"].unique()

array(['bed1', 'garden5', 'consoles1', 'garden7', 'health9', 'cool4',
       'health3', 'perfumery1', 'cool5', 'health8', 'garden4',
       'computers5', 'garden10', 'computers6', 'health6', 'garden6',
       'health10', 'watches2', 'health1', 'garden8', 'garden9',
       'watches6', 'cool3', 'perfumery2', 'cool2', 'computers1',
       'consoles2', 'health5', 'watches8', 'furniture4', 'watches5',
       'health7', 'bed3', 'garden3', 'bed2', 'furniture3', 'watches4',
       'watches3', 'furniture2', 'garden2', 'furniture1', 'health2',
       'garden1', 'cool1', 'computers4', 'watches7', 'computers3',
       'health4', 'watches1', 'computers2', 'bed4', 'bed5'], dtype=object)

In [5]:
bed1 = data_check.where(data_check["product_id"] == "bed1")

In [6]:
bed1.head()

,product_id,product_category_name,month_year,qty,total_price,freight_price,unit_price,product_name_lenght,product_description_lenght,product_photos_qty,...,fp1,comp_2,ps2,fp2,comp_3,ps3,fp3,lag_price,revenue,total_revenue
0,bed1,bed_bath_table,2020-05-01,1.0,45.95,15.100000,45.95,39.0,161.0,2.0,...,15.011897,215.000000,4.4,8.760000,45.95,4.0,15.100000,45.90,45.95,61.050000
1,bed1,bed_bath_table,2020-06-01,3.0,137.85,12.933333,45.95,39.0,161.0,2.0,...,14.769216,209.000000,4.4,21.322000,45.95,4.0,12.933333,45.95,137.85,150.783333
2,bed1,bed_bath_table,2020-07-01,6.0,275.70,14.840000,45.95,39.0,161.0,2.0,...,13.993833,205.000000,4.4,22.195932,45.95,4.0,14.840000,45.95,275.70,290.540000
3,bed1,bed_bath_table,2020-08-01,4.0,183.80,14.287500,45.95,39.0,161.0,2.0,...,14.656757,199.509804,4.4,19.412885,45.95,4.0,14.287500,45.95,183.80,198.087500
4,bed1,bed_bath_table,2020-09-01,2.0,91.90,15.100000,45.95,39.0,161.0,2.0,...,18.776522,163.398710,4.4,24.324687,45.95,4.0,15.100000,45.95,91.90,107.000000

In [7]:
bed1 = bed1[["product_id", "month_year", "qty", "customers", "unit_price"]].dropna()

In [8]:
bed1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16 entries, 0 to 15
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   product_id  16 non-null     object
 1   month_year  16 non-null     object
 2   qty         16 non-null     float64
 3   customers   16 non-null     float64
 4   unit_price  16 non-null     float64
dtypes: float64(3), object(2)
memory usage: 768.0+ bytes

In [9]:
#data_check.info()

In [10]:
bed1.tail()

   product_id  month_year   qty  customers  unit_price
11       bed1  2021-04-01  13.0       34.0       39.99
12       bed1  2021-05-01  19.0       57.0       39.99
13       bed1  2021-06-01   5.0       43.0       39.99
14       bed1  2021-07-01   8.0       26.0       39.99
15       bed1  2021-08-01   8.0       15.0       39.24

In [11]:
data_check["product_id"].nunique()

52

In [12]:
# data_check.info()

In [13]:
data_check["qty"].sum()

9799