In [1]:
import pandas as pd   
import numpy as np 
import matplotlib.pyplot as plt 
import sktime
import sklearn

In [2]:
data = pd.read_csv(r"../data/forecast-data.csv")

In [3]:
data.head()

,month_year,WA_Cat001_Product_1751,WA_Cat003_Product_1180,WA_Cat003_Product_1719,WA_Cat003_Product_1724,WA_Cat003_Product_1725,WA_Cat003_Product_1726,WA_Cat003_Product_1727,WA_Cat005_Product_0001,WA_Cat005_Product_0020,...,Cat029,Cat030,Cat031,Cat032,Cat033,WA,WC,WJ,WS,total
0,2011-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,2.0
1,2011-02-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2011-03-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2011-04-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2011-05-01,0.0,0.0,0.0,108.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,108.0,0.0,0.0,0.0,108.0

In [4]:
data["month_year"] = pd.to_datetime(data["month_year"], format="%Y-%m")

In [5]:
data["month_year"] = data["month_year"].dt.to_period('M')

In [6]:
data = data.set_index("month_year")

In [7]:
data.head()

,WA_Cat001_Product_1751,WA_Cat003_Product_1180,WA_Cat003_Product_1719,WA_Cat003_Product_1724,WA_Cat003_Product_1725,WA_Cat003_Product_1726,WA_Cat003_Product_1727,WA_Cat005_Product_0001,WA_Cat005_Product_0020,WA_Cat005_Product_0031,...,Cat029,Cat030,Cat031,Cat032,Cat033,WA,WC,WJ,WS,total
month_year,,,,,,,,,,,,,,,,,,,,,
2011-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,2.0
2011-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2011-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2011-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2011-05,0.0,0.0,0.0,108.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,108.0,0.0,0.0,0.0,108.0

In [8]:
data.index.dtype

period[M]

In [9]:
data.head()

,WA_Cat001_Product_1751,WA_Cat003_Product_1180,WA_Cat003_Product_1719,WA_Cat003_Product_1724,WA_Cat003_Product_1725,WA_Cat003_Product_1726,WA_Cat003_Product_1727,WA_Cat005_Product_0001,WA_Cat005_Product_0020,WA_Cat005_Product_0031,...,Cat029,Cat030,Cat031,Cat032,Cat033,WA,WC,WJ,WS,total
month_year,,,,,,,,,,,,,,,,,,,,,
2011-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,2.0
2011-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2011-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2011-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2011-05,0.0,0.0,0.0,108.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,108.0,0.0,0.0,0.0,108.0

In [10]:
data = data.asfreq('M')

In [11]:
data.head()

,WA_Cat001_Product_1751,WA_Cat003_Product_1180,WA_Cat003_Product_1719,WA_Cat003_Product_1724,WA_Cat003_Product_1725,WA_Cat003_Product_1726,WA_Cat003_Product_1727,WA_Cat005_Product_0001,WA_Cat005_Product_0020,WA_Cat005_Product_0031,...,Cat029,Cat030,Cat031,Cat032,Cat033,WA,WC,WJ,WS,total
month_year,,,,,,,,,,,,,,,,,,,,,
2011-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,2.0
2011-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2011-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2011-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2011-05,0.0,0.0,0.0,108.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,108.0,0.0,0.0,0.0,108.0

# VAR FORECASTING

In [12]:
from sktime.forecasting.var import VAR
from sktime.forecasting.base import ForecastingHorizon

In [13]:
var_forecaster = VAR(freq = 'M')

In [14]:
train = data['2012-01':'2015-01']
validation = data['2015-02':]

In [15]:
# fh = np.arange(1,12)

In [16]:
fh = ForecastingHorizon(
    pd.PeriodIndex(pd.date_range("2015-02", periods= 12, freq="M")), is_relative=False
)

In [17]:
fh

ForecastingHorizon(['2015-02', '2015-03', '2015-04', '2015-05', '2015-06', '2015-07',
             '2015-08', '2015-09', '2015-10', '2015-11', '2015-12', '2016-01'],
            dtype='period[M]', is_relative=False)

In [18]:
var_forecaster =  var_forecaster.fit(train, fh = fh)

In [19]:
var_pred = var_forecaster.predict()

In [20]:
var_pred

,WA_Cat001_Product_1751,WA_Cat003_Product_1180,WA_Cat003_Product_1719,WA_Cat003_Product_1724,WA_Cat003_Product_1725,WA_Cat003_Product_1726,WA_Cat003_Product_1727,WA_Cat005_Product_0001,WA_Cat005_Product_0020,WA_Cat005_Product_0031,...,Cat029,Cat030,Cat031,Cat032,Cat033,WA,WC,WJ,WS,total
2015-02,131.601482,200.276213,162.810483,1662.675119,0.0,0.0,98.661929,2838.223793,1523.652753,1328.261236,...,176.783002,8.944266e+05,183.066961,211729.307212,787451.321910,2.606175e+06,1.343247e+07,6.589305e+07,2.382019e+07,1.057519e+08
2015-03,173.004975,313.031293,346.017506,812.169021,0.0,0.0,36.210577,8428.563592,4910.613093,-1719.317338,...,134.015463,7.666950e+05,151.965721,163564.584009,611203.527281,2.796145e+06,1.703238e+07,6.907114e+07,2.413393e+07,1.130336e+08
2015-04,193.853821,162.000329,370.634879,-513.163466,0.0,0.0,-84.555192,10000.563354,4344.083370,10376.223366,...,696.720301,8.723998e+05,-58.786210,137258.754569,782835.644172,2.631095e+06,1.673204e+07,6.879196e+07,2.380880e+07,1.119639e+08
2015-05,126.811943,61.702966,501.540529,988.660805,0.0,0.0,131.671228,9041.040861,7891.050898,5962.991767,...,320.728939,3.275756e+05,189.017638,125692.391498,806339.499905,2.353165e+06,1.306484e+07,6.854801e+07,1.702081e+07,1.009868e+08
2015-06,126.922104,88.739291,585.616806,1639.590933,0.0,0.0,266.925980,10558.001155,4698.673604,9405.091335,...,177.854295,6.272393e+05,158.877342,114350.714001,844124.743495,2.883710e+06,1.135550e+07,7.276423e+07,2.412597e+07,1.111294e+08
2015-07,191.861257,226.766703,336.183905,1721.053401,0.0,0.0,132.614603,6197.862248,285.624608,13671.334888,...,-154.214871,9.820524e+05,256.733893,157065.445344,957827.197702,2.992132e+06,7.199482e+06,6.895175e+07,2.484508e+07,1.039884e+08
2015-08,140.384839,102.258029,176.103960,1324.960611,0.0,0.0,-0.153812,2065.011850,4389.961061,10737.863665,...,277.813610,1.344478e+06,234.165490,132934.935927,824737.915311,2.847407e+06,9.208182e+06,6.529788e+07,2.455008e+07,1.019036e+08
2015-09,138.903879,163.093248,270.964120,1947.741106,0.0,0.0,115.793739,2227.101972,3357.951850,9775.052975,...,-256.465310,1.365655e+06,120.421807,242281.177130,722123.619829,2.877021e+06,1.268717e+07,6.568477e+07,2.661366e+07,1.078626e+08
2015-10,151.522371,393.388752,406.765378,1020.594847,0.0,0.0,79.408937,4248.054580,7052.265112,873.988080,...,-245.470527,1.303972e+06,77.364945,199419.994760,656044.911586,3.315048e+06,1.703841e+07,7.804879e+07,2.525459e+07,1.236568e+08
2015-11,172.672228,181.125407,230.584991,591.881022,0.0,0.0,38.663200,16348.271558,4222.866324,-206.863245,...,387.274854,9.599487e+05,-95.130150,211871.977614,653047.954154,2.785023e+06,2.286405e+07,8.317262e+07,2.799225e+07,1.368139e+08
2015-12,111.593979,148.936716,456.237001,-589.344701,0.0,0.0,37.557703,16159.403210,7950.064951,7020.809520,...,526.615741,3.552980e+05,184.285372,245497.029909,772119.026375,2.465905e+06,2.274357e+07,7.614349e+07,2.337666e+07,1.247296e+08
2016-01,113.046054,41.199870,437.254615,-68.113425,0.0,0.0,191.119080,8458.231350,1281.436041,14103.272740,...,885.166309,5.015550e+05,-37.611245,164334.081740,746167.732241,2.497316e+06,1.484422e+07,7.720314e+07,2.730960e+07,1.218543e+08

Model Evaluation

In [21]:
from sklearn.metrics import mean_squared_error, r2_score

In [22]:
valid_period = validation[:'2016-01']

In [23]:
from sktime.performance_metrics.forecasting import mean_absolute_percentage_error
mape = mean_absolute_percentage_error(valid_period, var_pred, symmetric = False)

In [24]:
mape

2.6791280240977894e+18

In [25]:
r2_var  = r2_score(valid_period, var_pred)

In [26]:
r2_var

-24.68000180098072

# Column Ensemble Forecaster

In [27]:
from sktime.forecasting.compose import ColumnEnsembleForecaster
from sktime.forecasting.model_selection._tune import ForecastingGridSearchCV
from sktime.forecasting.compose._multiplexer import MultiplexForecaster
from sktime.forecasting.naive import NaiveForecaster
from sktime.forecasting.trend import PolynomialTrendForecaster

In [28]:
tuner = NaiveForecaster()
composer =PolynomialTrendForecaster()
forecasters = [("tune", tuner, np.arange(1, 2501)), 
               ("compose",composer, np.arange(2501, 5142))]

In [29]:
col_ens_forecaster = ColumnEnsembleForecaster(forecasters = forecasters)

# Multiplex & GridSearchCV FORECASTERS

In [30]:
from sktime.forecasting.ets import AutoETS
from sktime.forecasting.model_selection import (
   ForecastingGridSearchCV,
   ExpandingWindowSplitter)
from sktime.forecasting.compose import MultiplexForecaster
from sktime.forecasting.naive import NaiveForecaster
from sktime.forecasting.theta import ThetaForecaster
from sktime.forecasting.model_evaluation import evaluate

In [31]:
forecaster = MultiplexForecaster(forecasters=[
    ("ets", AutoETS()),
    ("theta", ThetaForecaster()),
    ("naive", NaiveForecaster())])  
cv = ExpandingWindowSplitter(
    start_with_window=True,
    step_length=12)  
gscv = ForecastingGridSearchCV(
    cv=cv,
    param_grid={"selected_forecaster":["ets", "theta", "naive"]},
    forecaster=forecaster)

In [32]:
# to resolve multiplicativity error, all records as 0 will be replaced with 1
train = train.replace([0.0], 1.0)

In [33]:
train.head()

,WA_Cat001_Product_1751,WA_Cat003_Product_1180,WA_Cat003_Product_1719,WA_Cat003_Product_1724,WA_Cat003_Product_1725,WA_Cat003_Product_1726,WA_Cat003_Product_1727,WA_Cat005_Product_0001,WA_Cat005_Product_0020,WA_Cat005_Product_0031,...,Cat029,Cat030,Cat031,Cat032,Cat033,WA,WC,WJ,WS,total
month_year,,,,,,,,,,,,,,,,,,,,,
2012-01,1.0,1.0,729.0,1809.0,1.0,1.0,18.0,6400.0,3500.0,10100.0,...,32.0,406850.0,377.0,30010.0,600000.0,1920092.0,4245164.0,51429055.0,16620625.0,74214936.0
2012-02,1.0,18.0,567.0,1134.0,1.0,1.0,1.0,10400.0,6000.0,6400.0,...,724.0,657850.0,210.0,114560.0,900000.0,2543423.0,10966973.0,56882464.0,16318942.0,86711802.0
2012-03,1.0,1.0,1026.0,810.0,1.0,1.0,252.0,11000.0,800.0,3000.0,...,753.0,553450.0,333.0,28224.0,530000.0,2343061.0,11296947.0,54485058.0,17868815.0,85993881.0
2012-04,1.0,72.0,351.0,756.0,1.0,1.0,234.0,1500.0,6800.0,5400.0,...,494.0,457450.0,118.0,61066.0,830000.0,1947054.0,7022400.0,49753644.0,15780173.0,74503271.0
2012-05,1.0,1.0,1431.0,2349.0,1.0,1.0,108.0,8000.0,5900.0,3500.0,...,725.0,433651.0,218.0,34766.0,930000.0,2681003.0,8203107.0,51238836.0,23971723.0,86094669.0

In [34]:
# mutiplex_gscv = gscv.fit(train)

In [35]:
multindex = pd.read_csv(r'../data/sales.csv', index_col= 0)

In [36]:
multindex.head()

,Product_Code,Warehouse,Product_Category,Date,Order_Demand,month_year,year
0,Product_0993,Whse_J,Category_028,2012-07-27,100.0,2012-07,2012
1,Product_0979,Whse_J,Category_028,2012-01-19,500.0,2012-01,2012
2,Product_0979,Whse_J,Category_028,2012-02-03,500.0,2012-02,2012
3,Product_0979,Whse_J,Category_028,2012-02-09,500.0,2012-02,2012
4,Product_0979,Whse_J,Category_028,2012-03-02,500.0,2012-03,2012

In [37]:
multindex["month_year"] = pd.to_datetime(multindex["month_year"], format = "%Y-%m")

In [38]:
multindex["month_year"] = multindex["month_year"].dt.to_period('M')

In [39]:
multindex.month_year.dtype

period[M]

In [40]:
multindex = multindex.drop("year", axis = 1)
multindex = multindex[multindex["month_year"].dt.year != 2011]

In [41]:
hier_data = multindex.groupby(["Warehouse", "Product_Category","Product_Code", "month_year"]).sum("Order_Demand")

In [42]:
hier_data.head()

                                                    Order_Demand
Warehouse Product_Category Product_Code month_year
Whse_A    Category_001     Product_1751 2013-06             51.0
                                        2013-07             37.0
                                        2013-08             32.0
                                        2013-09             60.0
                                        2013-11             52.0

In [43]:
corrected = multindex.drop("Date", axis = 1).set_index("month_year")

In [44]:
levels = ["Warehouse", "Product_Category", "Product_Code", "month_year"]

In [45]:
train = multindex[:2015-1]
validation = multindex[2015-2:2016-1]

In [46]:
train = train.groupby(levels).sum('Order_Demand')

In [47]:
train

                                                    Order_Demand
Warehouse Product_Category Product_Code month_year
Whse_C    Category_005     Product_1581 2012-01           2000.0
                                        2012-02          12000.0
                                        2012-03          32000.0
                                        2012-04          23000.0
                                        2012-05          30000.0
...                                                          ...
Whse_S    Category_030     Product_0561 2012-10           2000.0
                                        2012-11            400.0
                           Product_1183 2012-01           2000.0
                           Product_1184 2012-01           2000.0
                                        2012-03           5000.0

[1001 rows x 1 columns]

In [48]:
from sktime.registry import all_estimators
hier_forecasters = all_estimators(
    "forecaster", as_dataframe=True, return_tags=["scitype:y", "y_inner_mtype"]
)

c:\Users\HP\Downloads\mybooks\project\retail-optimization\env\lib\site-packages\sktime\utils\validation\_dependencies.py:117: UserWarning: str requires package 'dtw-python' to be present in the python environment, but 'dtw-python' was not found. 'dtw-python' is a soft dependency and not included in the base sktime installation. Please run: `pip install dtw-python` to install the dtw-python package. To install all soft dependencies, run: `pip install sktime[all_extras]`
  warnings.warn(msg)
c:\Users\HP\Downloads\mybooks\project\retail-optimization\env\lib\site-packages\sktime\utils\validation\_dependencies.py:117: UserWarning: No module named 'pyod'. 'pyod' is a soft dependency and not included in the base sktime installation. Please run: `pip install pyod` to install the pyod package. To install all soft dependencies, run: `pip install sktime[all_extras]`
  warnings.warn(msg)
c:\Users\HP\Downloads\mybooks\project\retail-optimization\env\lib\site-packages\sktime\utils\validation\_dependencies.py:117: UserWarning: No module named 'hmmlearn'. 'hmmlearn.hmm' is a soft dependency and not included in the base sktime installation. Please run: `pip install hmmlearn.hmm` to install the hmmlearn.hmm package. To install all soft dependencies, run: `pip install sktime[all_extras]`
  warnings.warn(msg)
c:\Users\HP\Downloads\mybooks\project\retail-optimization\env\lib\site-packages\sktime\utils\validation\_dependencies.py:167: UserWarning: tensorflow and tensorflow-probability are required for deep learning and probabilistic functionality in `sktime`. To install these dependencies, run: `pip install sktime[dl]`
  warnings.warn(msg)
c:\Users\HP\Downloads\mybooks\project\retail-optimization\env\lib\site-packages\sktime\utils\validation\_dependencies.py:117: UserWarning: No module named 'keras_self_attention'. 'keras-self-attention' is a soft dependency and not included in the base sktime installation. Please run: `pip install keras-self-attention` to install the keras-self-attention package. To install all soft dependencies, run: `pip install sktime[all_extras]`
  warnings.warn(msg)
c:\Users\HP\Downloads\mybooks\project\retail-optimization\env\lib\site-packages\sktime\utils\validation\_dependencies.py:117: UserWarning: No module named 'tsfresh'. 'tsfresh' is a soft dependency and not included in the base sktime installation. Please run: `pip install tsfresh` to install the tsfresh package. To install all soft dependencies, run: `pip install sktime[all_extras]`
  warnings.warn(msg)
c:\Users\HP\Downloads\mybooks\project\retail-optimization\env\lib\site-packages\sktime\utils\validation\_dependencies.py:117: UserWarning: No module named 'esig'. 'esig' is a soft dependency and not included in the base sktime installation. Please run: `pip install esig` to install the esig package. To install all soft dependencies, run: `pip install sktime[all_extras]`
  warnings.warn(msg)
c:\Users\HP\Downloads\mybooks\project\retail-optimization\env\lib\site-packages\sktime\utils\validation\_dependencies.py:117: UserWarning: No module named 'tslearn'. 'tslearn' is a soft dependency and not included in the base sktime installation. Please run: `pip install tslearn` to install the tslearn package. To install all soft dependencies, run: `pip install sktime[all_extras]`
  warnings.warn(msg)
c:\Users\HP\Downloads\mybooks\project\retail-optimization\env\lib\site-packages\sktime\utils\validation\_dependencies.py:117: UserWarning: No module named 'tbats'. 'tbats' is a soft dependency and not included in the base sktime installation. Please run: `pip install tbats` to install the tbats package. To install all soft dependencies, run: `pip install sktime[all_extras]`
  warnings.warn(msg)
c:\Users\HP\Downloads\mybooks\project\retail-optimization\env\lib\site-packages\tqdm\auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
c:\Users\HP\Downloads\mybooks\project\retail-optimization\env\lib\site-packages\sktime\utils\validation\_dependencies.py:117: UserWarning: No module named 'statsforecast'. 'statsforecast' is a soft dependency and not included in the base sktime installation. Please run: `pip install statsforecast` to install the statsforecast package. To install all soft dependencies, run: `pip install sktime[all_extras]`
  warnings.warn(msg)
c:\Users\HP\Downloads\mybooks\project\retail-optimization\env\lib\site-packages\sktime\utils\validation\_dependencies.py:117: UserWarning: No module named 'tbats'. 'tbats' is a soft dependency and not included in the base sktime installation. Please run: `pip install tbats` to install the tbats package. To install all soft dependencies, run: `pip install sktime[all_extras]`
  warnings.warn(msg)
c:\Users\HP\Downloads\mybooks\project\retail-optimization\env\lib\site-packages\sktime\utils\validation\_dependencies.py:167: UserWarning: tensorflow and tensorflow-probability are required for deep learning and probabilistic functionality in `sktime`. To install these dependencies, run: `pip install sktime[dl]`
  warnings.warn(msg)
c:\Users\HP\Downloads\mybooks\project\retail-optimization\env\lib\site-packages\sktime\utils\validation\_dependencies.py:117: UserWarning: No module named 'mne'. 'mne' is a soft dependency and not included in the base sktime installation. Please run: `pip install mne` to install the mne package. To install all soft dependencies, run: `pip install sktime[all_extras]`
  warnings.warn(msg)
c:\Users\HP\Downloads\mybooks\project\retail-optimization\env\lib\site-packages\sktime\utils\validation\_dependencies.py:117: UserWarning: No module named 'pykalman'. 'pykalman' is a soft dependency and not included in the base sktime installation. Please run: `pip install pykalman` to install the pykalman package. To install all soft dependencies, run: `pip install sktime[all_extras]`
  warnings.warn(msg)
c:\Users\HP\Downloads\mybooks\project\retail-optimization\env\lib\site-packages\sktime\utils\validation\_dependencies.py:117: UserWarning: No module named 'filterpy'. 'filterpy' is a soft dependency and not included in the base sktime installation. Please run: `pip install filterpy` to install the filterpy package. To install all soft dependencies, run: `pip install sktime[all_extras]`
  warnings.warn(msg)
c:\Users\HP\Downloads\mybooks\project\retail-optimization\env\lib\site-packages\sktime\utils\validation\_dependencies.py:117: UserWarning: No module named 'stumpy'. 'stumpy' is a soft dependency and not included in the base sktime installation. Please run: `pip install stumpy` to install the stumpy package. To install all soft dependencies, run: `pip install sktime[all_extras]`
  warnings.warn(msg)

In [49]:
unwanted = ["pd.DataFrame", "pd.Series"]

In [50]:
hier_forecasters = hier_forecasters[(hier_forecasters["y_inner_mtype"] != "pd.Series") & 
                                    (hier_forecasters["y_inner_mtype"] != "pd.DataFrame")]

In [51]:
hier_forecasters

,name,estimator,scitype:y,y_inner_mtype
7,ColumnEnsembleForecaster,<class 'sktime.forecasting.compose._column_ens...,both,"[pd.DataFrame, pd-multiindex, pd_multiindex_hier]"
14,DontUpdate,<class 'sktime.forecasting.stream._update.Dont...,univariate,"[pd.Series, pd.DataFrame, df-list, pd-multiind..."
16,EnsembleForecaster,<class 'sktime.forecasting.compose._ensemble.E...,both,"[pd.DataFrame, pd-multiindex, pd_multiindex_hier]"
18,ForecastByLevel,<class 'sktime.forecasting.compose._grouped.Fo...,both,"[pd.Series, pd.DataFrame, df-list, pd-multiind..."
19,ForecastX,<class 'sktime.forecasting.compose._pipeline.F...,univariate,"[pd.DataFrame, pd-multiindex, pd_multiindex_hier]"
21,ForecastingPipeline,<class 'sktime.forecasting.compose._pipeline.F...,both,"[pd.DataFrame, pd-multiindex, pd_multiindex_hier]"
25,MultiplexForecaster,<class 'sktime.forecasting.compose._multiplexe...,both,"[pd.Series, pd.DataFrame, df-list, pd-multiind..."
28,OnlineEnsembleForecaster,<class 'sktime.forecasting.online_learning._on...,univariate,[pd.Series]
29,PluginParamsForecaster,<class 'sktime.param_est.plugin.PluginParamsFo...,both,"[pd.DataFrame, pd.Series]"
32,ReconcilerForecaster,<class 'sktime.forecasting.reconcile.Reconcile...,univariate,"[pd.DataFrame, pd.Series, pd-multiindex, pd_mu..."
43,TransformedTargetForecaster,<class 'sktime.forecasting.compose._pipeline.T...,both,"[pd.DataFrame, pd-multiindex, pd_multiindex_hier]"
46,UpdateEvery,<class 'sktime.forecasting.stream._update.Upda...,univariate,"[pd.Series, pd.DataFrame, df-list, pd-multiind..."
47,UpdateRefitsEvery,<class 'sktime.forecasting.stream._update.Upda...,univariate,"[pd.Series, pd.DataFrame, df-list, pd-multiind..."

In [52]:
#Ensemble Forecaster
from sktime.forecasting.compose import EnsembleForecaster
from sktime.forecasting.naive import NaiveForecaster
from sktime.forecasting.trend import PolynomialTrendForecaster
#from sktime.datasets import load_airline
#y = load_airline()
forecasters = [
    ("trend", PolynomialTrendForecaster()),
    ("naive", NaiveForecaster()),
]
forecaster = EnsembleForecaster(forecasters=forecasters, weights=[4, 10])

In [ ]:
forecaster = forecaster.fit(y =train, fh=fh)

In [ ]:
pred = forecaster.predict()

In [ ]:
train

                                                    Order_Demand
Warehouse Product_Category Product_Code month_year
Whse_C    Category_019     Product_1281 2012-07          70000.0
                                        2012-08           8000.0
                           Product_1564 2012-06           6600.0

In [ ]:
pred

                                                     Order_Demand
Warehouse Product_Category Product_Code month_year
Whse_C    Category_019     Product_1281 2015-02    -523428.571429
                                        2015-03    -541142.857143
                                        2015-04    -558857.142857
                                        2015-05    -576571.428571
                                        2015-06    -594285.714286
                                        2015-07    -612000.000000
                                        2015-08    -629714.285714
                                        2015-09    -647428.571429
                                        2015-10    -665142.857143
                                        2015-11    -682857.142857
                                        2015-12    -700571.428571
                                        2016-01    -718285.714286
                           Product_1564 2015-02       6600.000000
                                        2015-03       6600.000000
                                        2015-04       6600.000000
                                        2015-05       6600.000000
                                        2015-06       6600.000000
                                        2015-07       6600.000000
                                        2015-08       6600.000000
                                        2015-09       6600.000000
                                        2015-10       6600.000000
                                        2015-11       6600.000000
                                        2015-12       6600.000000
                                        2016-01       6600.000000