In [1]:
import pandas as pd
import numpy as np

In [2]:
sales = pd.read_csv(r'../data/sales.csv')

In [3]:
cat_prod = sales[["Product_Category", "Product_Code"]]

In [4]:
grouped = cat_prod.groupby("Product_Category")["Product_Code"].unique()

In [5]:
grouped["Category_033"]

array(['Product_1361', 'Product_1282', 'Product_1363', 'Product_1362'],
      dtype=object)

In [6]:
cat_prod.groupby("Product_Category")["Product_Code"].nunique()

Product_Category
Category_001    278
Category_002      1
Category_003     12
Category_004      1
Category_005    185
Category_006    112
Category_007    141
Category_008      7
Category_009    102
Category_010      7
Category_011     59
Category_012     24
Category_013     13
Category_014      1
Category_015     64
Category_016      4
Category_017      8
Category_018     16
Category_019    534
Category_020     23
Category_021    143
Category_022     46
Category_023     62
Category_024     53
Category_025      2
Category_026     41
Category_027      2
Category_028     57
Category_029      4
Category_030     99
Category_031      6
Category_032     49
Category_033      4
Name: Product_Code, dtype: int64

In [7]:
sales = sales.drop("year", axis = 1)

In [8]:
multi = sales.groupby(["Warehouse", "Product_Category", "Product_Code", "month_year"])["Order_Demand"].sum()

In [9]:
multi.head()

Warehouse  Product_Category  Product_Code  month_year
Whse_A     Category_001      Product_1751  2013-06       51.0
                                           2013-07       37.0
                                           2013-08       32.0
                                           2013-09       60.0
                                           2013-11       52.0
Name: Order_Demand, dtype: float64

In [10]:
date = sales["month_year"].unique()

In [11]:
date = np.sort(date)

In [12]:
redo = multi.reindex(
    pd.MultiIndex.from_product(
        [multi.index.get_level_values("Warehouse").unique(),
         multi.index.get_level_values("Product_Category").unique(),
         multi.index.get_level_values("Product_Code").unique(),
         date], 
        names=['Warehouse', 'Product_Category', 'Product_Code', 'month_year'])
    ).fillna(1.0)

In [13]:
redo.head()

Warehouse  Product_Category  Product_Code  month_year
Whse_A     Category_001      Product_1751  2011-01       1.0
                                           2011-05       1.0
                                           2011-06       1.0
                                           2011-09       1.0
                                           2011-10       1.0
Name: Order_Demand, dtype: float64

In [14]:
multi.index.get_level_values("Product_Code").value_counts()

Product_1264    242
Product_2138    241
Product_1432    239
Product_2167    237
Product_0288    236
               ...
Product_1698      2
Product_0465      1
Product_1703      1
Product_2099      1
Product_0853      1
Name: Product_Code, Length: 2160, dtype: int64

In [15]:
redo.index.get_level_values("Product_Code").value_counts()

Product_1751    8976
Product_1225    8976
Product_1246    8976
Product_1244    8976
Product_1242    8976
                ...
Product_0744    8976
Product_0743    8976
Product_0742    8976
Product_0741    8976
Product_0595    8976
Name: Product_Code, Length: 2160, dtype: int64

In [16]:
test = multi.reindex(date, level = 3).sort_index()

In [17]:
test.head()

Warehouse  Product_Category  Product_Code  month_year
Whse_A     Category_001      Product_1751  2013-06       51.0
                                           2013-07       37.0
                                           2013-08       32.0
                                           2013-09       60.0
                                           2013-11       52.0
Name: Order_Demand, dtype: float64

In [20]:
hier = sales.groupby(["Warehouse", "Product_Category", "Product_Code"])["Order_Demand"].sum()

In [21]:
hier

Warehouse  Product_Category  Product_Code
Whse_A     Category_001      Product_1751       1744.0
           Category_003      Product_1180       9486.0
                             Product_1719      19224.0
                             Product_1724      78651.0
                             Product_1725       2880.0
                                               ...
Whse_S     Category_032      Product_0592       2802.0
                             Product_0593      43134.0
                             Product_0595       2748.0
                             Product_1052      69954.0
                             Product_1101    1977000.0
Name: Order_Demand, Length: 2849, dtype: float64

In [22]:
hier.index

MultiIndex([('Whse_A', 'Category_001', 'Product_1751'),
            ('Whse_A', 'Category_003', 'Product_1180'),
            ('Whse_A', 'Category_003', 'Product_1719'),
            ('Whse_A', 'Category_003', 'Product_1724'),
            ('Whse_A', 'Category_003', 'Product_1725'),
            ('Whse_A', 'Category_003', 'Product_1726'),
            ('Whse_A', 'Category_003', 'Product_1727'),
            ('Whse_A', 'Category_005', 'Product_0001'),
            ('Whse_A', 'Category_005', 'Product_0020'),
            ('Whse_A', 'Category_005', 'Product_0031'),
            ...
            ('Whse_S', 'Category_032', 'Product_0586'),
            ('Whse_S', 'Category_032', 'Product_0587'),
            ('Whse_S', 'Category_032', 'Product_0588'),
            ('Whse_S', 'Category_032', 'Product_0589'),
            ('Whse_S', 'Category_032', 'Product_0591'),
            ('Whse_S', 'Category_032', 'Product_0592'),
            ('Whse_S', 'Category_032', 'Product_0593'),
            ('Whse_S', 'Category_032', 'Product_0595'),
            ('Whse_S', 'Category_032', 'Product_1052'),
            ('Whse_S', 'Category_032', 'Product_1101')],
           names=['Warehouse', 'Product_Category', 'Product_Code'], length=2849)

In [27]:
df = sales.groupby(['Warehouse', 'Product_Category', 'Product_Code', 'month_year'], as_index=False)["Order_Demand"].sum()

In [29]:
cat_combination = df[['Warehouse', 'Product_Category', 'Product_Code']].drop_duplicates()

In [30]:
months = pd.DataFrame(df.month_year.drop_duplicates())

In [39]:
months['month_year'].unique()

array(['2013-06', '2013-07', '2013-08', '2013-09', '2013-11', '2014-01',
       '2014-02', '2014-03', '2014-04', '2014-05', '2014-06', '2014-07',
       '2014-08', '2014-09', '2014-10', '2014-11', '2015-05', '2015-10',
       '2015-12', '2016-01', '2016-02', '2016-03', '2016-04', '2016-05',
       '2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12',
       '2012-02', '2012-03', '2012-04', '2012-06', '2012-07', '2012-08',
       '2012-09', '2012-10', '2012-11', '2012-12', '2013-01', '2013-02',
       '2013-03', '2013-05', '2013-10', '2013-12', '2014-12', '2015-01',
       '2015-02', '2015-03', '2015-06', '2015-07', '2015-08', '2015-09',
       '2015-11', '2016-06', '2012-01', '2012-05', '2013-04', '2015-04',
       '2011-05', '2011-01', '2011-11', '2011-12', '2011-09', '2017-01',
       '2011-10', '2011-06'], dtype=object)

In [32]:
basis = cat_combination.merge(months, how='cross')

In [35]:
basis.head()

  Warehouse Product_Category  Product_Code month_year
0    Whse_A     Category_001  Product_1751    2013-06
1    Whse_A     Category_001  Product_1751    2013-07
2    Whse_A     Category_001  Product_1751    2013-08
3    Whse_A     Category_001  Product_1751    2013-09
4    Whse_A     Category_001  Product_1751    2013-11

In [33]:
result = basis.merge( df, on=['Warehouse', 'Product_Category', 'Product_Code', 'month_year'], how='left').fillna(1.0)

In [34]:
result.head(10)

  Warehouse Product_Category  Product_Code month_year  Order_Demand
0    Whse_A     Category_001  Product_1751    2013-06          51.0
1    Whse_A     Category_001  Product_1751    2013-07          37.0
2    Whse_A     Category_001  Product_1751    2013-08          32.0
3    Whse_A     Category_001  Product_1751    2013-09          60.0
4    Whse_A     Category_001  Product_1751    2013-11          52.0
5    Whse_A     Category_001  Product_1751    2014-01          44.0
6    Whse_A     Category_001  Product_1751    2014-02         139.0
7    Whse_A     Category_001  Product_1751    2014-03         187.0
8    Whse_A     Category_001  Product_1751    2014-04          63.0
9    Whse_A     Category_001  Product_1751    2014-05          29.0

In [41]:
test2 = result.groupby(['Warehouse', 'Product_Category', 'Product_Code', 'month_year'])['Order_Demand'].sum()

In [42]:
test.index.get_level_values("Product_Code").value_counts()

Product_1264    242
Product_2138    241
Product_1432    239
Product_2167    237
Product_0288    236
               ...
Product_1698      2
Product_0465      1
Product_1703      1
Product_2099      1
Product_0853      1
Name: Product_Code, Length: 2160, dtype: int64

In [43]:
test2.head()

Warehouse  Product_Category  Product_Code  month_year
Whse_A     Category_001      Product_1751  2011-01       1.0
                                           2011-05       1.0
                                           2011-06       1.0
                                           2011-09       1.0
                                           2011-10       1.0
Name: Order_Demand, dtype: float64

In [44]:
test2.to_frame()

                                                    Order_Demand
Warehouse Product_Category Product_Code month_year
Whse_A    Category_001     Product_1751 2011-01              1.0
                                        2011-05              1.0
                                        2011-06              1.0
                                        2011-09              1.0
                                        2011-10              1.0
...                                                          ...
Whse_S    Category_032     Product_1101 2016-09           7000.0
                                        2016-10          31000.0
                                        2016-11              1.0
                                        2016-12          52000.0
                                        2017-01              1.0

[193732 rows x 1 columns]