In [1]:
import pandas as pd
import numpy as np
import requests, io

In [2]:
sales_url="https://github.com/ladyjossy77/retail-optimization/blob/master/data/sales.csv?raw=true"
s=requests.get(sales_url).content
sales_data =pd.read_csv(io.StringIO(s.decode('utf-8')))

In [3]:
sales = sales_data[sales_data["year"] == 2016]
data = sales.groupby("month_year")["Order_Demand"].sum()
# test_data = px.data.itis()
# labels = data["month_year"]
# values = data

In [4]:
data

month_year
2016-01    78558745.0
2016-02    73929614.0
2016-03    93186035.0
2016-04    79117539.0
2016-05    79772064.0
2016-06    83274717.0
2016-07    88406639.0
2016-08    80260600.0
2016-09    77654481.0
2016-10    83927472.0
2016-11    89989237.0
2016-12    80402121.0
Name: Order_Demand, dtype: float64

In [5]:
sales["month_year"].nunique()

12

In [6]:
sales

,Unnamed: 0,Product_Code,Warehouse,Product_Category,Date,Order_Demand,month_year,year
681339,681339,Product_1178,Whse_A,Category_024,2016-01-28,10.0,2016-01,2016
688322,688322,Product_1502,Whse_C,Category_019,2016-01-04,100000.0,2016-01,2016
757187,757187,Product_0190,Whse_A,Category_007,2016-01-06,320.0,2016-01,2016
757263,757263,Product_0337,Whse_A,Category_021,2016-01-06,2.0,2016-01,2016
757282,757282,Product_1053,Whse_A,Category_024,2016-01-06,10.0,2016-01,2016
...,...,...,...,...,...,...,...,...
1031432,1031432,Product_1791,Whse_J,Category_006,2016-04-27,1000.0,2016-04,2016
1031433,1031433,Product_1974,Whse_J,Category_006,2016-04-27,1.0,2016-04,2016
1031434,1031434,Product_1787,Whse_J,Category_006,2016-04-28,2500.0,2016-04,2016
1031435,1031435,Product_0901,Whse_J,Category_023,2016-10-07,50.0,2016-10,2016
1031436,1031436,Product_0704,Whse_J,Category_001,2016-06-27,4.0,2016-06,2016

In [7]:
info = data.reset_index()
# info = info.to_frame()

In [8]:
label =info.iloc[:,:1].values

In [9]:
label

array([['2016-01'],
       ['2016-02'],
       ['2016-03'],
       ['2016-04'],
       ['2016-05'],
       ['2016-06'],
       ['2016-07'],
       ['2016-08'],
       ['2016-09'],
       ['2016-10'],
       ['2016-11'],
       ['2016-12']], dtype=object)

In [10]:
x = []
y = []
for i, j in zip(info.month_year, info.Order_Demand):
    x.append(i)
    y.append(j)

In [11]:
x

['2016-01',
 '2016-02',
 '2016-03',
 '2016-04',
 '2016-05',
 '2016-06',
 '2016-07',
 '2016-08',
 '2016-09',
 '2016-10',
 '2016-11',
 '2016-12']

In [12]:
range(10)

range(0, 10)

In [13]:
len("I am a")

6

In [14]:
string = "I am a"
len(string.strip())

6

In [15]:
len(string.replace(" ", ""))

4